@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'mohave';
  src: url('../src/Pages/Fonts/Mohave-Regular.ttf');
}
/* @font-face {
  font-family: 'earth-orbit-regular';
  src: url('../Font/earthorbiter.ttf');
} */


@layer base {

  .brand-container {
      @apply px-5  sm:px-10 md:px-20 lg:px-20 xl:px-20 max-w-[1800px] w-full mx-auto overflow-hidden
  }
  @keyframes marquee {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}


